PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=evacuapp
DB_USER=evacuapp_user
DB_PASSWORD=evacuapp_password

JWT_SECRET=CAMBIAR_POR_UN_SECRETO_LARGO_Y_ALEATORIO
JWT_EXPIRES_IN=7d
